.BookingOptions {
    height: fit-content;
    margin-bottom: 30px;
}

.BookingOptions-container {
    text-align: left;
}

#BookingOptions-button {
    border: 0px;
    border-radius: 5px;
    font-size: 25px;
    margin-left: 200px;
    padding: 8px 15px;
    text-align: left;
    top: 1000px;
}