.FlightDetails {
    border: 1px solid white;
    border-radius: 3px;
    color: rgb(153, 153, 153);
    font-size: 23px;
    margin: 0px 10px;
    padding: 10px 10px;
    position: fixed;
    top: 147px;
    right: 0;
    text-align: center;
}

#FlightDetails-heading {
    color: black;
    padding-bottom: 0px;
}

.FlightDetails-arrow {
    display: inline;
    padding: 0px 30px;
}

.FlightDetails-center{
    font-size: 23px;
}

.FlightDetails-right {
    float: right;
    font-size: 20px;
    text-align: right;
}

.FlightDetails-left {
    float: left;
    font-size: 20px;
    text-align: left;
}