.SelectSeat {
    border-left: 1px solid rgb(70, 132, 212);
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 200px;
    padding: 0px 10px;
}

.SelectSeat-container {
    font-size: 23px;
    text-align: left;
}

.SelectSeat-item {
    margin-bottom: 10px;
}

.SelectSeat-radioButton {
    height: 20px;
    margin: 0px 10px;
    width: 20px;
}

.SelectSeat-infoText {
    font-size:18px; 
    margin-left:50px;
}

#SelectSeat-errorMessage {
    color: red;
    display: none;
    font-size: 18px;
    text-align: left;
}