#heading {
    color: black;
}

.SearchFlight {
    height: fit-content;
    padding: 20px 0px 30px 0px;
}

.SearchFlight {
    display: inline-block;
    font-size: 20px;
    padding-right: 30px;
}

.SearchFlight-input {
    border: 0;
    border-radius: 3px;
    font-size: 20px;
    padding: 5px 10px;
}

.SearchFlight-input:focus {
    border: 0;
    box-shadow: 1px 1px 10px gray inset;
    outline: none;
}

.SearchFlight-label {
    color: white;
    display: inline-block;
    font-size: 20px;
    padding-right: 10px;
}

.SearchFlight-dropDown {
    background-color: white;
    border-radius: 3px;
    display: none;
    margin-top: 2px;
    padding: 5px 10px;
    position: absolute;
    text-align: left;
}

.SearchFlight-dropDown-item {
    border-radius: 3px;
    padding: 5px;
}

.SearchFlight-dropDown-item:hover {
    background-color: bisque;
    cursor: pointer;
}

#SearchFlight-submit {
    background-color: white;
    border: 0;
    border-radius: 3px;
    font-size: 20px;
    padding: 7.2px 10px;
}

#SearchFlight-errorMessage {
    color: red;
    display: none;
    position: absolute;
    text-align: left
}