.NavBar-container {
    background-color: bisque;
    padding: 15px 20px; 
    text-align: left;
}

.NavBar-item {
    border: 1px solid blue;
    border-radius: 5px;
    color: black;
    font-size: 25px;
    padding: 0px 23px;
    text-decoration: none;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.NavBar-item:hover {
    background-color: white;
}

.NavBar-dropDown {
	border: 1px solid blue;
    display: none;
    left: 225px;
    position: absolute;
}