.NavBar-container {
    background-color: bisque;
    padding: 15px 20px; 
    text-align: left;
}

.NavBar-item {
    display: inline-block;
}

.NavBar-item:hover {
    background-color: white;
    border-radius: 5px;
}

.NavBar-item-heading {
    /* border: 1px solid blue; */
    color: black;
    font-size: 25px;
    padding: 0px 23px;
    text-decoration: none;
}

.NavBar-item-dropDown {
    background-color: white;
	border: 1px solid black;
    border-radius: 5px;
    display: none;
    font-size: 20px;
    padding: 5px 15px;
    position: absolute;
}


#myAirline-logo {
	/* border: 1px solid blue; */
	color: red;
	font-size: 25px;
	margin-right: 80px;
	padding: 0px;
	text-decoration: none;
}