.Register {
    height: 5000px;
}

.Register-container {
    display: inline-block;
    font-size: 23px;
    margin-top: 60px;
    text-align: left;
}

.Register-item {
    margin: 40px 0px;
}

.Register-input {
    border: 1px solid rgb(70, 132, 212);    
    border-radius: 3px;
    font-size: 23px;
    margin-top: 3px;
    margin-bottom: 2px;
    padding: 5px 10px;
}

.Register-input:focus {
    border: 2px solid rgb(70, 132, 212);
    outline: none;
    margin-bottom: 0px;
}

.Register-container-submit {
    display: inline-block;
    font-size: 23px;
    text-align: center;
}

.Register-submit {
    background-color: white;
    border: 3px solid rgb(70, 132, 212);
    border-radius: 3px;
    font-size: 20px;
    margin-top: 30px;
    outline: none;
    padding: 7.2px 40px;
    transition: border-color 0.2s;
    text-align: center;
}

#Register-errorMessage {
    color: red;
    font-size: 20px;
}