.SearchResult-item {
    background-color: white;
    border: 5px solid white;
    border-radius: 10px;
    font-size: 25px;
    margin-left: 200px;
    margin-bottom: 40px;
    padding: 10px;
    text-align: left;
    width: fit-content;
}

.SearchResult-item:hover {
    cursor: pointer;
    border: 5px solid bisque;
    transition: border 0.1s;
}

.SearchResult-departure {
    border: 1px solid white;
    color: black;
    display: inline-block;
}

.SearchResult-destination {
    border: 1px solid white;
    color: black;
    display: inline-block;
    text-align: right;
}

.SearchResult-details {
    color: rgb(102, 102, 102);
    font-size: 20px;
}

.SearchResult-arrow {
    border: 1px solid white;
    display: inline-block;
    padding: 0px 30px;
    position: relative;
}

.SearchResult-airline {
    border: 1px solid white;
    color: pink;
    display: inline-block;
    text-align: center;
}

.SearchResult-price {
    border: 1px solid white;
    color: rgba(22, 22, 252, 0.685);
    display: inline-block;
}